In [2]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('country_total_medal.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   country   75 non-null     object
 1   total     75 non-null     int64
 2   lat       75 non-null     float64
 3   long      75 non-null     float64
 4   stadiums  10 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 3.1+ KB

In [6]:
data.dropna(inplace=True)

In [11]:
print(data)

        country  total        lat        long  stadiums
0     Australia   2416 -25.274398  133.775136     119.0
1        Canada   1555  56.130366 -106.346771      40.0
2       England   2144  52.355518   -1.174320     180.0
3         India    502  20.440132   78.152548     179.0
4         Kenya    237  -0.023559   37.906193      10.0
5       Nigeria    236   9.081999    8.675277      43.0
6   New Zealand    655 -40.900557  174.885971      25.0
7  South Africa    389 -30.559482   22.937506      78.0
8      Scotland    451  56.490671   -4.202646      42.0
9         Wales    306  52.130661   -3.783712      52.0

In [12]:
data.to_csv("country_total_medals.csv",index=False)